<html>
<head>
<title> loan</title>

</head>


<body>

    LOAN APP Prediction 

    <form action="/prediction" method="POST">


        <label>Gender </label> 
            <select name="gender"> 
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        <br><br>
        <label>Married </label>
            <select name="married"> 
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <br><br>
        <label>Dependents </label>
            <select name="dependents"> 
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3+</option>
            </select>
            <br><br>
            <label>Education </label>
            <select name="education"> 
                <option value="1">Graduate</option>
                <option value="0">Non Graduate</option>
                
            </select>
            <br><br>

            <label>Self_Employed </label>
            <select name="self_employed"> 
                <option value="1">Yes</option>
                <option value="0">No</option>
                
            </select>
            <br><br>
            <label>Loan_Amount_Term </label>
            <input type="text" name="loan_term">
            <br><br>

            <label>Credit_History </label>
            <select name="credit_history"> 
                <option value="1">Yes</option>
                <option value="0">No</option>
                
            </select>
            <br><br>
            <label>Property_Area </label>
            <select name="property_area"> 
                <option value="2">Urban</option>
                <option value="0">Rural</option>
                <option value="1">Semi Urban</option>
                
            </select>

            <br><br>
            <label>Loan Amount </label>
            <input type="text" name="loan_amount">
            <br><br>

            <label>Applicant Income </label>
            <input type="text" name="app_income">
            <br><br>
            <label>Co Applicant Income </label>
            <input type="text" name="co_app_income">
            <br><br>
        <input type="submit" value="PREDICTION">

        <br>

        {{loan_result}}



        
    </form>

</body>

</html>